Restrict listening to IPv6 local addresses

https://lists.freedesktop.org/archives/avahi/2010-March/001863.html
https://lists.freedesktop.org/archives/avahi/2011-January/001972.html
https://lists.freedesktop.org/archives/avahi/2020-October/002548.html

I am only interested in "local" addresses: `FC00::/7` (RFC4193), `FEC0::/10` (deprecated RFC3879) and more importantly `FE80::/10` (RFC4291). In my internal network, public IPv6 address does not make sense for service discovery and randomly breaks stuff.

Duplicate of https://github.com/lathiat/avahi/issues/243 .