avahi-autoip picks new IP on receiving arp request not conforming to RFC 

Description of problem:
When autoip daemon is PROBING for a new ip and is receiving an arp request for the address being probed it is picking a new IP.
According to the RFC3927 this is only allowed when receiving an ARP probe (which has sender ip set to zero). 

Version-Release number of selected component (if applicable):
avahi-0.6.31/avahi-autoipd/main.c

How reproducible:
always

Steps to Reproduce:
1. keep a running ping to a local link connected host
2. and reset that host
3. when the host is resetting the arp cache of the pinging computer will time out causing it so send arp requests for the old ip
4. check on wireshark, the autoipclient is announcing a new IP via ARP

Actual results:
the autoipclient is announcing a new IP via ARP

Expected results:
IP of autoip host must not change when receiving ARP requests for its currently propbed IP.

Additional info:

According to RFC3927, Section 2.2.1. Probe details:
> An ARP Request constructed this way with an all-zero 'sender IP 
> address' is referred to as an "ARP Probe".

and

> In addition, if during this period [checking if an address is already 
> in use] the host receives any *ARP Probe* where the packet's 'target IP
> address' is the address being probed for, and the packet's 'sender
> hardware address' is not the hardware address of the interface the
> host is attempting to configure, then the host MUST similarly treat
> this as an address conflict and select a new address as above.

I reported this bug the the manufactor of my failed device and their software guy sent a patch to freedesktop.org mailing list but it does not seem to be recognized.
In post http://marc.info/?l=freedesktop-avahi&m=139462973306278&w=2 is a patch appended which seems to fix the problem but I did not validate this patch myself.

see also: https://bugzilla.redhat.com/show_bug.cgi?id=1228379

already fixed