RFE: Always advertise link-local addresses

Avahi doesn't advertise a link-local address if a global address is available. This was queried many years ago on the mailing list: https://lists.freedesktop.org/archives/avahi/2010-March/001863.html

It does in fact cause problems in some circumstances, where some machines have e.g. static global addresses assigned, and others have link local only. For example, Pidgin's Bonjour module is unable to match the source address on an incoming connection with the address that was originally advertised: https://bugs.launchpad.net/ubuntu/+source/pidgin/+bug/1841621

There's an old patch in Launchpad to change this behaviour, but a quick review suggests it is not quite correct: https://bugs.launchpad.net/ubuntu/+source/avahi/+bug/1102906

I can confirm that this is a problem. In my configuration, I have avahi configured to advertise a squid server on IPv6 that only accepts connections from link-local addresses. As avahi always chooses the global address, clients on lan cannot connect to the squid server by the address avahi advertises. To work around avahi not preferring link-local addresses, I configured avahi to only advertise the squid server's IPv4 address.

I think we can do this but first we need to implement support for "ordering" the list of addresses given by both API calls and nss-mdns - as right now the order is random and it's possible to give the 'less preferred' address. Which can be a problem particularly for link local addresses if applications don't support setting the sin6_scope.

nss-mdns now sets sin6_scope so that helps a lot - it's part of the reason it was disabled in the past. but I think we should still order the lookups first.

@lathiat any updates on this enhancement? Thanks so much!

Most discussion on this are around which address to use; e.g. link-local or global address.  But what about the requirements for mDNS RFC 6762 [section 6.2](https://datatracker.ietf.org/doc/html/rfc6762#section-6.2) ?

> When a Multicast DNS responder sends a Multicast DNS response message
>    containing its own address records, it MUST include all addresses
>    that are valid on the interface on which it is sending the message
...

> For example, if an interface has both an IPv6 link-
>    local and an IPv6 routable address, both should be included in the
>    response message 

So this says both addresses must be included in case global/link-local addresses are available.  Then an ordering of addresses seems not needed, right?

Great find, just to quote the next bit which is important because it conveys the intent that it's the querier's choice about which address they use and so any ordering on the part of the responder has no bearing on which address is ultimately used.

> For example, if an interface has both an IPv6 link-
   local and an IPv6 routable address, both should be included in the
   response message so that queriers receive both and can make their own
   choice about which to use. 

Find a patch for Avahi attached in order to address two issues concerning IPv6 addressing and to ensure compliance with RFC6762. One of them is related to this thread.

Even though the Debian package used has been avahi-daemon (0.7-4+deb10u1), I guess it would be easy to adapt the patch for any other version affected by these issues.

I hope it helps you.

[rfc6762_ipv6_addressing_issues.txt](https://github.com/lathiat/avahi/files/7507863/rfc6762_ipv6_addressing_issues.txt)


Thanks, yes the 2nd issue is the IPv6 source address of the mDNS response: if it is sent to a link-local IPv6 destination address, the IPv6 source address must also be selected as link-local scope per the IPv6 source address selection rules RFC 6724.

Interesting further point of RFC 6762 mDNS is that it states that all valid addresses must be included which happens to include also deprecated addresses (see RFC 4862), however I think it is generally best to exclude deprecated addresses alltogether if the responding interface will always have at least a (valid) link-local address. This conforms best to the use of deprecated addresses; that they shouldn't be used to initiate any new connections (which is what typically follows after mDNS discovery).

Windows 10 22H2 responds with **all** IPv6 addresses from the interface which the query was made:

```
1 0.000000000 192.168.0.156 → 224.0.0.251  MDNS 87 Standard query 0x0000 A DESKTOP-XXXXXXX.local, "QM" question AAAA DESKTOP-XXXXXXX.local, "QM" question
2 0.078261068 192.168.0.13 → 224.0.0.251  MDNS 224 Standard query response 0x0000 A 192.168.0.13 AAAA 2804:xxx:xxxx:xxxx:yyyy:yyyy:yyyy:yyyy AAAA 2804:xxx:xxxx:xxxx:uuuu:uuuu:uuuu:uuuu AAAA 2804:xxx:xxxx:xxxx:zzzz:zzzz:zzzz:zzzz AAAA fe80::jjjj:jjjj:jjjj:jjjj
```

It appears to put link-local one at the end, if that matters.