avahi-publish cannot publish a subtype without a leading underscore

when using avahi-publish subtypes without a leading underscore is not working.

This works fine, observe the leading underscore in the subtype
```
$ avahi-publish -s foo _bar._udp 4242 --subtype _baz._sub._bar._udp
Established under name 'foo'
```

This fails, observe the missing leading underscore in the subtype
```
$ avahi-publish -s foo _bar._udp 4242 --subtype baz._sub._bar._udp
Failed to add subtype 'baz._sub._bar._udp': Invalid service subtype
```

From RFC6763 section 7.1

```
Subtype strings are not required to begin with an underscore, though
   they often do.  As with the TXT record key/value pairs, the list of
   possible subtypes, if any (including whether some or all begin with
   an underscore) are defined and specified separately for each basic
   service type.
```

Is there a reason for this behavior or is it a bug?

Best Regards, Michael




Hi,
It also seams like the "subtype" is not a part of the full evaluated namespace (to build a unique SRV/TXT record)
Ex.
`avahi-publish -s foo _bar._udp 4242 --subtype _baz._sub._bar._udp`
`Established under name 'foo'`
..and then..
`avahi-publish -s foo _bar._udp 4242 --subtype _bax._sub._bar._udp`
`Established under name 'foo'`

..then
`avahi-browse -vrt _baz._sub._bar._udp`
.. shows no registration, for: foo._baz._sub._bar._udp
`avahi-browse -vrt _bax._sub._bar._udp`
.. shows no registration, for: foo._bax._sub._bar._udp

`avahi-browse -vrt _bar._udp`
.. shows one registration without subtype prefix

Is it broken, or have I just misunderstood how to use the subtype prefix ?


avahi is probably overly restrictive here.

> It also seams like the "subtype" is not a part of the full evaluated namespace

@A-Fromell-ITxPT I don't think it has anything to do with avahi rejecting subtypes without leading underscores. Could you open a separate issue? If it's more of a question it can be asked on the mailing list: https://lists.freedesktop.org/mailman/listinfo/avahi